@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Pacifico&display=swap');;
.navbarStyle{
   font-family: 'Kalam', cursive;
   font-family: 'Pacifico', cursive;
}

.colorTitleNavbar{
   background-color:  rgb(129, 178, 20);
 }
 .colorM{
   background: red;
 }
 